<a href="https://colab.research.google.com/github/avimonda298/Deep-Learning/blob/main/simpleNN_housing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Last amended: 27th Nov, 2022
# California Housing Dataset
# Experiments with NN
# https://www.kaggle.com/datasets/camnugent/california-housing-prices

In [ ]:
# 1.0
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# 1.1
import tensorflow as tf

# 1.2 Helper libraries
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# 2.0 Mount google drive 
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
# 2.1 Read FASHION-MNIST data

path = "/gdrive/MyDrive/Colab_data_files/california_housing_dataset/"

In [ ]:
# 2.2
data = pd.read_csv(path + "housing.csv")

In [ ]:
# 2.2.1
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
# 2.2.2
data.shape

(20640, 10)

In [ ]:
# 2.3 Pop out target
y = data.pop('median_house_value')

In [ ]:
# 2.3.1
data.shape   # (20640, 9)

(20640, 9)

In [ ]:
# 3.0 Check NULL
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [ ]:
data['total_bedrooms'].median()

435.0

In [ ]:
# 3.1 Fill null values with 'median'

data['total_bedrooms']= data['total_bedrooms'].fillna(data['total_bedrooms'].median())

In [ ]:
# 3.2
data[:2]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY

In [ ]:
# 4.0
# Label encode ocean_proximity:
 
le = LabelEncoder()
le.fit(data['ocean_proximity'])
data['ocean_proximity'] = le.transform(data['ocean_proximity'])

In [ ]:
# 4.1 Check data again:
data.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,3

In [ ]:
# 5.0 Scale data
ss = StandardScaler()
ss.fit(data)
X = ss.transform(data)

In [ ]:
# 5.1
X[:5]

array([[-1.32783522,  1.05254828,  0.98214266, -0.8048191 , -0.97247648,
        -0.9744286 , -0.97703285,  2.34476576,  1.2910888 ],
       [-1.32284391,  1.04318455, -0.60701891,  2.0458901 ,  1.35714343,
         0.86143887,  1.66996103,  2.33223796,  1.2910888 ],
       [-1.33282653,  1.03850269,  1.85618152, -0.53574589, -0.82702426,
        -0.82077735, -0.84363692,  1.7826994 ,  1.2910888 ],
       [-1.33781784,  1.03850269,  1.85618152, -0.62421459, -0.71972345,
        -0.76602806, -0.73378144,  0.93296751,  1.2910888 ],
       [-1.33781784,  1.03850269,  1.85618152, -0.46240395, -0.61242263,
        -0.75984669, -0.62915718, -0.012881  ,  1.2910888 ]])

In [ ]:
# 6.0 Split data:

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.15)
display(X_train.shape)
display(X_test.shape)

(17544, 9)

(3096, 9)

## Model

In [ ]:
# 6.0
model = tf.keras.Sequential()

In [ ]:
# 6.1
model.add( tf.keras.layers.Input(shape = (9,) ))

In [ ]:
# 6.2 Start 
model.add(tf.keras.layers.Dense(20, activation = 'relu'))  # MAke it 5 and then 20 (not more or less)

In [ ]:
# 6.2.1 Experiment with adding a dropout layer
#       but then increase number of units in Dense layer from 20 to 40
#model.add(tf.keras.layers.Dropout(rate = 0.5 ))

In [ ]:
model.add(tf.keras.layers.Dense(20, activation = 'relu'))  
#model.add(tf.keras.layers.Dropout(rate = 0.5 ))

In [ ]:
#model.add(tf.keras.layers.Dense(10, activation = 'relu'))  
#model.add(tf.keras.layers.Dropout(rate = 0.5 ))

In [ ]:
# 6.3 Experiment as follows:
#       a. First with activation of sigmoid--Result=>Maximum error
#       b. Then no activation function--Result=>Less error
#       c. Then with ReLU--Result=>Less error (target being +ve)
#       d. Standardise target so that target has both +ve and -ve values
#          Then try with Relu, with sigmoid and with no activation fumction.
#          Result=>Least error with no activation.

model.add(tf.keras.layers.Dense(1))    # Keep sigmoid; then remove sigmoid

In [ ]:
# 6.4 Model summary:
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 40)                400

 dropout_6 (Dropout)         (None, 40)                0

 dense_12 (Dense)            (None, 20)                820

 dropout_7 (Dropout)         (None, 20)                0

 dense_13 (Dense)            (None, 10)                210

 dense_14 (Dense)            (None, 1)                 11

=================================================================
Total params: 1,441
Trainable params: 1,441
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# 6.5 Compile model
#     Expt with adam
model.compile(
                 loss = 'mae',
                 optimizer = 'adam',  # Try first with default optimizer and then with 'adam'
                                      #  may not make much difference 
                 metrics = ['mae']

              )

In [ ]:
# 7.0
history = model.fit(X_train,y_train,
                    epochs = 70,
                    validation_data = (X_test, y_test)
                   )

Epoch 1/70
549/549 [==============================] - 2s 3ms/step - loss: 202302.9844 - mae: 202302.9844 - val_loss: 185277.0000 - val_mae: 185277.0000
Epoch 2/70
549/549 [==============================] - 2s 3ms/step - loss: 133477.3438 - mae: 133477.3438 - val_loss: 92973.9141 - val_mae: 92973.9141
Epoch 3/70
549/549 [==============================] - 1s 2ms/step - loss: 95824.3281 - mae: 95824.3281 - val_loss: 75812.4375 - val_mae: 75812.4375
Epoch 4/70
549/549 [==============================] - 1s 3ms/step - loss: 85449.5078 - mae: 85449.5078 - val_loss: 67652.8359 - val_mae: 67652.8359
Epoch 5/70
549/549 [==============================] - 1s 3ms/step - loss: 81122.1172 - mae: 81122.1172 - val_loss: 62249.5312 - val_mae: 62249.5312
Epoch 6/70
549/549 [==============================] - 1s 3ms/step - loss: 77531.3906 - mae: 77531.3906 - val_loss: 58334.4766 - val_mae: 58334.4766
Epoch 7/70
549/549 [==============================] - 1s 3ms/step - loss: 74600.5938 - mae: 74600.5938 - val_loss: 55813.9531 - val_mae: 55813.9531
Epoch 8/70
549/549 [==============================] - 1s 2ms/step - loss: 72944.0234 - mae: 72944.0234 - val_loss: 54570.2695 - val_mae: 54570.2695
Epoch 9/70
549/549 [==============================] - 2s 3ms/step - loss: 71530.2109 - mae: 71530.2109 - val_loss: 52981.9336 - val_mae: 52981.9336
Epoch 10/70
549/549 [==============================] - 1s 3ms/step - loss: 70632.1797 - mae: 70632.1797 - val_loss: 51883.7422 - val_mae: 51883.7422
Epoch 11/70
549/549 [==============================] - 1s 2ms/step - loss: 69541.6797 - mae: 69541.6797 - val_loss: 51618.5273 - val_mae: 51618.5273
Epoch 12/70
549/549 [==============================] - 1s 2ms/step - loss: 68815.6797 - mae: 68815.6797 - val_loss: 50753.8438 - val_mae: 50753.8438
Epoch 13/70
549/549 [==============================] - 1s 2ms/step - loss: 68153.4609 - mae: 68153.4609 - val_loss: 50326.5625 - val_mae: 50326.5625
Epoch 14/70
549/549 [==============================] - 1s 2ms/step - loss: 67825.1172 - mae: 67825.1172 - val_loss: 49956.5234 - val_mae: 49956.5234
Epoch 15/70
549/549 [==============================] - 1s 2ms/step - loss: 67341.5703 - mae: 67341.5703 - val_loss: 49925.1641 - val_mae: 49925.1641
Epoch 16/70
549/549 [==============================] - 1s 3ms/step - loss: 67603.0312 - mae: 67603.0312 - val_loss: 49667.7969 - val_mae: 49667.7969
Epoch 17/70
549/549 [==============================] - 1s 2ms/step - loss: 66769.1328 - mae: 66769.1328 - val_loss: 49045.3242 - val_mae: 49045.3242
Epoch 18/70
549/549 [==============================] - 1s 3ms/step - loss: 67262.5234 - mae: 67262.5234 - val_loss: 48760.0938 - val_mae: 48760.0938
Epoch 19/70
549/549 [==============================] - 1s 2ms/step - loss: 66675.7109 - mae: 66675.7109 - val_loss: 49090.5625 - val_mae: 49090.5625
Epoch 20/70
549/549 [==============================] - 1s 2ms/step - loss: 66111.3750 - mae: 66111.3750 - val_loss: 48838.5781 - val_mae: 48838.5781
Epoch 21/70
549/549 [==============================] - 1s 2ms/step - loss: 66540.5938 - mae: 66540.5938 - val_loss: 48922.2422 - val_mae: 48922.2422
Epoch 22/70
549/549 [==============================] - 1s 2ms/step - loss: 66242.9375 - mae: 66242.9375 - val_loss: 48625.7070 - val_mae: 48625.7070
Epoch 23/70
549/549 [==============================] - 1s 2ms/step - loss: 66289.6484 - mae: 66289.6484 - val_loss: 48458.5000 - val_mae: 48458.5000
Epoch 24/70
549/549 [==============================] - 1s 2ms/step - loss: 66076.6875 - mae: 66076.6875 - val_loss: 48353.6133 - val_mae: 48353.6133
Epoch 25/70
549/549 [==============================] - 1s 2ms/step - loss: 65591.4453 - mae: 65591.4453 - val_loss: 48494.4805 - val_mae: 48494.4805
Epoch 26/70
549/549 [==============================] - 1s 2ms/step - loss: 65627.3047 - mae: 65627.3047 - val_loss: 48012.3867 - val_mae: 48012.3867
Epoch 27/70
549/549 [==============================] - 1s 2ms/step - loss: 65388.5430 - mae: 65388.5430 - val_loss: 48214.1758 - val_mae: 48214.1758
Epoch 28/70
549/549 [==============================] - 2s 3ms/step - loss: 65886.6172 - mae: 65886.6172 - val_loss: 48045.8203 - val_mae: 48045.8203
Epoch 29/70
549/549 [==============================] - 1s 3ms/step - loss: 65836.0938 - mae: 65836.0938 - val_loss: 48289.8750 - val_mae: 48289.8750
Epoch 30/70
549/549 [==============================] - 1s 3ms/step - loss: 65399.6445 - mae: 65399.6445 - val_loss: 48546.6602 - val_mae: 48546.6602
Epoch 31/70
549/549 [==============================] - 1s 2ms/step - loss: 65719.4219 - mae: 65719.4219 - val_loss: 48276.9805 - val_mae: 48276.9805
Epoch 32/70
549/549 [==============================] - 1s 3ms/step - loss: 65593.2109 - mae: 65593.2109 - val_loss: 47973.6680 - val_mae: 47973.6680
Epoch 33/70
549/549 [==============================] - 1s 2ms/step - loss: 65633.7812 - mae: 65633.7812 - val_loss: 47802.8750 - val_mae: 47802.8750
Epoch 34/70
549/549 [==============================] - 2s 3ms/step - loss: 66186.4922 - mae: 66186.4922 - val_loss: 47713.3086 - val_mae: 47713.3086
Epoch 35/70
549/549 [==============================] - 1s 2ms/step - loss: 65808.6875 - mae: 65808.6875 - val_loss: 48390.2227 - val_mae: 48390.2227
Epoch 36/70
549/549 [==============================] - 1s 2ms/step - loss: 65387.6797 - mae: 65387.6797 - val_loss: 47706.1641 - val_mae: 47706.1641
Epoch 37/70
549/549 [==============================] - 1s 2ms/step - loss: 65136.7578 - mae: 65136.7578 - val_loss: 47908.3867 - val_mae: 47908.3867
Epoch 38/70
549/549 [==============================] - 1s 2ms/step - loss: 65165.2930 - mae: 65165.2930 - val_loss: 47575.8750 - val_mae: 47575.8750
Epoch 39/70
549/549 [==============================] - 1s 2ms/step - loss: 64707.4141 - mae: 64707.4141 - val_loss: 47619.8672 - val_mae: 47619.8672
Epoch 40/70
549/549 [==============================] - 1s 2ms/step - loss: 64976.4609 - mae: 64976.4609 - val_loss: 47787.2656 - val_mae: 47787.2656
Epoch 41/70
549/549 [==============================] - 1s 2ms/step - loss: 65356.0000 - mae: 65356.0000 - val_loss: 48155.1406 - val_mae: 48155.1406
Epoch 42/70
549/549 [==============================] - 1s 2ms/step - loss: 64418.8594 - mae: 64418.8594 - val_loss: 47530.0117 - val_mae: 47530.0117
Epoch 43/70
549/549 [==============================] - 1s 2ms/step - loss: 64835.8828 - mae: 64835.8828 - val_loss: 47704.5547 - val_mae: 47704.5547
Epoch 44/70
549/549 [==============================] - 1s 3ms/step - loss: 65253.2969 - mae: 65253.2969 - val_loss: 47533.7812 - val_mae: 47533.7812
Epoch 45/70
549/549 [==============================] - 1s 2ms/step - loss: 65334.0117 - mae: 65334.0117 - val_loss: 47351.4727 - val_mae: 47351.4727
Epoch 46/70
549/549 [==============================] - 1s 2ms/step - loss: 64892.3594 - mae: 64892.3594 - val_loss: 47672.1719 - val_mae: 47672.1719
Epoch 47/70
549/549 [==============================] - 2s 4ms/step - loss: 64094.9258 - mae: 64094.9258 - val_loss: 47025.1016 - val_mae: 47025.1016
Epoch 48/70
549/549 [==============================] - 1s 2ms/step - loss: 64608.4727 - mae: 64608.4727 - val_loss: 47472.4023 - val_mae: 47472.4023
Epoch 49/70
549/549 [==============================] - 1s 2ms/step - loss: 64552.1055 - mae: 64552.1055 - val_loss: 47412.9062 - val_mae: 47412.9062
Epoch 50/70
549/549 [==============================] - 1s 3ms/step - loss: 64542.4961 - mae: 64542.4961 - val_loss: 47441.1211 - val_mae: 47441.1211
Epoch 51/70
549/549 [==============================] - 1s 3ms/step - loss: 64411.5117 - mae: 64411.5117 - val_loss: 47287.8281 - val_mae: 47287.8281
Epoch 52/70
549/549 [==============================] - 1s 3ms/step - loss: 64106.8945 - mae: 64106.8945 - val_loss: 47623.1523 - val_mae: 47623.1523
Epoch 53/70
549/549 [==============================] - 1s 3ms/step - loss: 64505.8867 - mae: 64505.8867 - val_loss: 47244.6719 - val_mae: 47244.6719
Epoch 54/70
549/549 [==============================] - 2s 3ms/step - loss: 63905.0000 - mae: 63905.0000 - val_loss: 47150.9922 - val_mae: 47150.9922
Epoch 55/70
549/549 [==============================] - 2s 3ms/step - loss: 64292.5156 - mae: 64292.5156 - val_loss: 47472.1602 - val_mae: 47472.1602
Epoch 56/70
549/549 [==============================] - 2s 3ms/step - loss: 64249.1875 - mae: 64249.1875 - val_loss: 47079.1250 - val_mae: 47079.1250
Epoch 57/70
549/549 [==============================] - 1s 2ms/step - loss: 64324.7656 - mae: 64324.7656 - val_loss: 47214.8750 - val_mae: 47214.8750
Epoch 58/70
549/549 [==============================] - 1s 3ms/step - loss: 63996.8281 - mae: 63996.8281 - val_loss: 47168.9609 - val_mae: 47168.9609
Epoch 59/70
549/549 [==============================] - 1s 3ms/step - loss: 64272.3789 - mae: 64272.3789 - val_loss: 46852.9453 - val_mae: 46852.9453
Epoch 60/70
549/549 [==============================] - 1s 2ms/step - loss: 63981.0586 - mae: 63981.0586 - val_loss: 47307.2852 - val_mae: 47307.2852
Epoch 61/70
549/549 [==============================] - 1s 2ms/step - loss: 64968.6523 - mae: 64968.6523 - val_loss: 47384.8438 - val_mae: 47384.8438
Epoch 62/70
549/549 [==============================] - 1s 3ms/step - loss: 63771.6797 - mae: 63771.6797 - val_loss: 47128.9414 - val_mae: 47128.9414
Epoch 63/70
549/549 [==============================] - 1s 3ms/step - loss: 64297.6094 - mae: 64297.6094 - val_loss: 47051.2539 - val_mae: 47051.2539
Epoch 64/70
549/549 [==============================] - 1s 2ms/step - loss: 64336.9688 - mae: 64336.9688 - val_loss: 47061.0352 - val_mae: 47061.0352
Epoch 65/70
549/549 [==============================] - 2s 3ms/step - loss: 64388.4648 - mae: 64388.4648 - val_loss: 47231.6289 - val_mae: 47231.6289
Epoch 66/70
549/549 [==============================] - 2s 4ms/step - loss: 64031.9062 - mae: 64031.9062 - val_loss: 46620.7969 - val_mae: 46620.7969
Epoch 67/70
549/549 [==============================] - 2s 4ms/step - loss: 64010.9219 - mae: 64010.9219 - val_loss: 46830.0742 - val_mae: 46830.0742
Epoch 68/70
549/549 [==============================] - 2s 3ms/step - loss: 63833.9961 - mae: 63833.9961 - val_loss: 46846.2070 - val_mae: 46846.2070
Epoch 69/70
549/549 [==============================] - 2s 3ms/step - loss: 63542.0625 - mae: 63542.0625 - val_loss: 46617.8984 - val_mae: 46617.8984
Epoch 70/70
549/549 [==============================] - 2s 3ms/step - loss: 63853.7734 - mae: 63853.7734 - val_loss: 46563.8359 - val_mae: 46563.8359

In [ ]:
# 7.1
model.evaluate(X_test,y_test)

97/97 [==============================] - 0s 2ms/step - loss: 0.6292 - mae: 0.6292

[0.6291962265968323, 0.6291962265968323]

In [ ]:
######################### I am done #################